

::-webkit-scrollbar {display:none;}
::selection { background-color: transparent; }

body {
    background-color: #000000;
    scroll-behavior: smooth;
}

.App {
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.wrapper {
    &.hidden {
        opacity: 0;
    }

    &.visible {
        opacity: 1;
        transition: opacity 0.5s ease-in;
    }
}


.building-container {

    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden; 

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    z-index: -1;

    .top {
        margin-top: 500px;
        width: 359px;
        margin-left: 29px;
    }

    .middle {
        margin-left: 29px;
        margin-top: -92px;
        width: 359px;
    }
    .base {
        margin-top: -251px;
        z-index: -1;
    }

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .building-inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

.cloud-container {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;

    background-image: url(./static/sky.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    background-color: #b3e7ff;
}


.logo-container {
    width: 600px;
    max-width: 80%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 30px 40px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    img {
        max-width: 100%;
        &.header {
            margin-bottom: 20px;
        }
    }
}

.scroll-container {
    position: fixed;
    bottom: 100px;
    left: 50%;
    width: 1200px;
    transform: translateX(-50%);
    max-width: 90%;
    > img {
        width: 100%;
    }
}

.middle-layer {
    display: block;
}


@media only screen and (max-width: 450px) {

    .building-container {

        .top {
            margin-top: 300px;
            width: 78px;
            margin-left: 7px;
        }
        
        .middle {
            margin-left: 6px;
            margin-top: -21px;
            width: 78px;
        }

        .base {
            margin-top: -55px;
            width: 429px;
        }
    }


}


